<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="N102" value="MARVEL STUDIOS" />
     <add key="N103" value="92" />
     <add key="N104" value="SPID" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>